package examples

import (
	"github.com/romshark/morpheus/internal/href"
	"github.com/romshark/morpheus/neo"
)

templ AvatarsPhotos() {
	@neo.Avatars(neo.AvatarsOpts{
		AriaLabel: neo.Set("Maintainers"),
	}) {
		@neo.Avatar(neo.AvatarOpts{Src: neo.Set(href.Asset("avatar/gh_roman.jpg")), Alt: neo.Set("Roman Sharkov")})
		@neo.Avatar(neo.AvatarOpts{Src: neo.Set(href.Asset("avatar/gh_daniel.jpg")), Alt: neo.Set("Daniel")})
	}
}
