package examples

import "github.com/romshark/morpheus/neo"

templ ColorFieldCustomSize() {
	@neo.ColorFieldAttrs(neo.ColorFieldOpts[float64]{
		Value:     neo.Set("#a855f7"),
		AriaLabel: neo.Set("Compact picker"),
	}, templ.Attributes{
		"class": "color-field-custom-size-compact",
	})
	@neo.ColorFieldAttrs(neo.ColorFieldOpts[float64]{
		Value:     neo.Set("#ec4899"),
		AriaLabel: neo.Set("Wide picker"),
	}, templ.Attributes{
		"class": "color-field-custom-size-wide",
	})
}
