.dialog-continuous-patching-line-1 {
	width: 60%;
	height: 1rem;
}

.dialog-continuous-patching-line-2 {
	width: 80%;
	height: 1rem;
}

.dialog-continuous-patching-line-3 {
	width: 70%;
	height: 1rem;
}
