package examples

import "github.com/romshark/morpheus/neo"

templ IconGallery() {
	@neo.Icon("heart")
	@neo.Icon("sparkles")
	@neo.Icon("settings")
	@neo.Icon("sun")
	@neo.Icon("moon")
	@neo.Icon("star")
	@neo.Icon("bell")
	@neo.Icon("check")
	@neo.Icon("search")
	@neo.Icon("mail")
	@neo.Icon("folder")
	@neo.Icon("trash-2")
}
