.icon-current-color-crimson {
	color: crimson;
	font-size: 1.5rem;
}

.icon-current-color-gold {
	color: gold;
	font-size: 1.5rem;
}

.icon-current-color-blue {
	color: dodgerblue;
	font-size: 1.5rem;
}

.icon-current-color-green {
	color: seagreen;
	font-size: 1.5rem;
}
