package examples

import "github.com/romshark/morpheus/neo"

templ IconSizes() {
	@neo.IconAttrs("star", templ.Attributes{"class": "icon-sizes-1"})
	@neo.IconAttrs("star", templ.Attributes{"class": "icon-sizes-1-5"})
	@neo.IconAttrs("star", templ.Attributes{"class": "icon-sizes-2"})
	@neo.IconAttrs("star", templ.Attributes{"class": "icon-sizes-3"})
}
