package examples

import "github.com/romshark/morpheus/neo"

templ IconCurrentColor() {
	<span class="icon-current-color-crimson">
		@neo.Icon("heart")
	</span>
	<span class="icon-current-color-gold">
		@neo.Icon("star")
	</span>
	<span class="icon-current-color-blue">
		@neo.Icon("sparkles")
	</span>
	<span class="icon-current-color-green">
		@neo.Icon("check")
	</span>
}
