package examples

import "github.com/romshark/morpheus/neo"

templ IconInlineProse() {
	<p>
		Tap the&nbsp;
		@neo.Icon("settings")
		&nbsp;icon to open preferences, or pick&nbsp;
		@neo.Icon("heart")
		&nbsp;to save this article later. Press&nbsp;
		@neo.Icon("x")
		&nbsp;to dismiss the dialog.
	</p>
}
