package examples

import "github.com/romshark/morpheus/neo"

templ InputGroupSearchIcon() {
	<neo-input-group>
		@neo.Icon("search")
		<input type="search" placeholder="Search…"/>
	</neo-input-group>
}
