package examples

import "github.com/romshark/morpheus/neo"

templ InputGroupCurrency() {
	<neo-input-group>
		<span>$</span>
		@neo.TextInput(neo.TextInputOpts{
			Format:             neo.Set(neo.TextInputFormatNumber),
			DecimalPlaces:      neo.Set(2),
			ThousandsSeparator: neo.Set(","),
			Inputmode:          neo.Set(neo.TextInputInputmodeDecimal),
			Placeholder:        neo.Set("0.00"),
		})
	</neo-input-group>
}
