package examples

import "github.com/romshark/morpheus/neo"

templ PaginationCustomSlots() {
	@neo.Pagination(neo.PaginationOpts{
		Page: neo.Set(3), Pages: neo.Set(12),
	}) {
		<template data-neo-pagination-prev>
			@neo.Icon("chevron-left")
			<span>Back</span>
		</template>
		<template data-neo-pagination-next>
			<span>Forward</span>
			@neo.Icon("chevron-right")
		</template>
	}
}
