.select-async-failure-skeleton-1 {
	width: 70%;
}

.select-async-failure-skeleton-2 {
	width: 90%;
}

.select-async-failure-skeleton-3 {
	width: 60%;
}

.select-async-failure-skeleton-4 {
	width: 85%;
}
