package examples

import "github.com/romshark/morpheus/neo"

templ SortableRow() {
	@neo.SortableAttrs(neo.SortableOpts{
		Orientation: neo.Set(neo.OrientationHorizontal),
	}, templ.Attributes{"class": "sortable-row"}) {
		@neo.SortableItem("one") {
			One
		}
		@neo.SortableItem("two") {
			Two
		}
		@neo.SortableItem("three") {
			Three
		}
		@neo.SortableItem("four") {
			Four
		}
	}
}
